html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e5e5e5;
}

#container{
	width: 60%;
	margin: 0 auto;
	height: 100%;
	margin-top: 100px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

#container > div{
	position: relative;
	float: left;
	margin: 10px 10px 0 0;
}

#container > div > img{
	display: block;
	transform: translateZ(0);
	transition: transform .5s;
}

#container > div:hover{
	z-index: 1;
}

#container > div:hover > img{
	transform: scale(2,2);
	transition: transform .7s;
}
